<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <xacro:property name="color_code_material" value="custom_color"/>
    
    <xacro:property name="batteries_material" value="purple"/>

    <!-- MATERIALS -->
        <!-- WHEEL -->
        <xacro:property name="tire_material" value="${color_code_material}"/>
        <xacro:property name="wheel_material" value="black"/>

    <!-- SENSORS -->
        <!-- TOF -->
            <xacro:property name="tof_material" value="dark_red"/>
        
        <!-- CAMERA -->
            <xacro:property name="camera_base_material" value="dark_gray"/>
            <xacro:property name="camera_PCB_material" value="black"/>
            <xacro:property name="camera_bumper_material" value="${color_code_material}"/>
            <xacro:property name="camera_lens_material" value="lens"/>

    <!-- CHASSIS -->
        <xacro:property name="skeleton_material" value="black"/>
        <xacro:property name="fronts_material" value="${color_code_material}"/>
        <xacro:property name="internal_components_material" value="gray"/>
        
 
    <!-- VARIABLES -->
        <!-- ROBOT STRUCTURE -->
            <xacro:property name="wheel_separation" value="0.0625"/>
            <xacro:property name="wheel_radius" value="0.056"/>
            <xacro:property name="wheel_width" value="0.0145"/>

            <xacro:if value="$(arg camera_enabled)">
                <xacro:property name="label_hight" value="0.19"/>
            </xacro:if>
            <xacro:unless value="$(arg camera_enabled)">
                <xacro:property name="label_hight" value="0.16"/>
            </xacro:unless>
    
        <!-- SENSORS -->
            <xacro:if value="$(arg horizontal_sensor_visibility)">
                <xacro:property name="up_down_sensor_visibility" value="true"/>
                <xacro:property name="right_left_sensor_visibility" value="true"/>
                <xacro:property name="front_back_sensor_visibility" value="false"/>
            </xacro:if>
            <!-- <xacro:unless value="$(arg horizontal_sensor_visibility)"></xacro:unless> -->
            <xacro:if value="$(arg vertical_sensor_visibility)">
                <xacro:property name="up_down_sensor_visibility" value="false"/>
                <xacro:property name="right_left_sensor_visibility" value="true"/>
                <xacro:property name="front_back_sensor_visibility" value="true"/>
            </xacro:if>
            <!-- <xacro:unless value="$(arg vertical_sensor_visibility)"></xacro:unless> -->
            <xacro:if value="$(arg all_sensor_visibility)">
                <xacro:property name="up_down_sensor_visibility" value="true"/>
                <xacro:property name="right_left_sensor_visibility" value="true"/>
                <xacro:property name="front_back_sensor_visibility" value="true"/>
            </xacro:if>
            <xacro:unless value="$(arg all_sensor_visibility)">
                <xacro:property name="up_down_sensor_visibility" value="false"/>
                <xacro:property name="right_left_sensor_visibility" value="false"/>
                <xacro:property name="front_back_sensor_visibility" value="false"/>
            </xacro:unless>
            <!-- <xacro:unless value="$(arg all_sensor_visibility)"></xacro:unless> -->
            
    <!-- FILE PATHS -->
        <!-- GAZEBOMATERIALS -->
        <xacro:property name="rys_materials_path" 
        value="file://$(arg package_path)/description/materials/scripts/colors.material"/>

        <xacro:property name="rys_textures_path" 
        value="file://$(arg package_path)/description/materials/scripts/textures.material"/>

        <!-- ROBOT STRUCTURE -->
            <!-- CHASSIS -->
                <xacro:property name="skeleton_mesh_path"
                value="file://$(find minirys_sim)/description/meshes/chassis/skeleton_with_switches.STL"/>
                <xacro:property name="fronts_mesh_path" 
                value="file://$(find minirys_sim)/description/meshes/chassis/visual_chassis.STL"/>
                <xacro:property name="internal_components_mesh_path" 
                value="file://$(find minirys_sim)/description/meshes/chassis/PCB_and_stepper.STL"/>
                <xacro:property name="batteries_mesh_path" 
                value="file://$(find minirys_sim)/description/meshes/chassis/battery.STL"/>
                
            <!-- WHEELS -->
                <xacro:property name="left_wheel_mesh_path" 
                value="file://$(find minirys_sim)/description/meshes/wheels/left_rim.STL"/>
                <xacro:property name="left_tire_mesh_path" 
                value="file://$(find minirys_sim)/description/meshes/wheels/left_tire.STL"/>

                <xacro:property name="right_wheel_mesh_path" 
                value="file://$(find minirys_sim)/description/meshes/wheels/right_rim.STL"/>
                <xacro:property name="right_tire_mesh_path" 
                value="file://$(find minirys_sim)/description/meshes/wheels/right_tire.STL"/>

        <!-- CAMERA -->
            <xacro:property name="camera_bumper_mesh_path" 
            value="file://$(find minirys_sim)/description/meshes/sensors/bumper.STL"/>
            <xacro:property name="camera_base_mesh_path" 
            value="file://$(find minirys_sim)/description/meshes/sensors/camera_base.STL"/>
            <xacro:property name="camera_lens_mesh_path" 
            value="file://$(find minirys_sim)/description/meshes/sensors/camera_lens.STL"/>
            <xacro:property name="camera_PCB_mesh_path" 
            value="file://$(find minirys_sim)/description/meshes/sensors/camera_PCB.STL"/>

</robot>