<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <!-- <xacro:property name="my_mu1" value="$(arg wheel_mu1)"/>
  <xacro:property name="my_mu2" value="$(arg wheel_mu2)"/>
  <xacro:property name="my_kp" value="$(arg wheel_kp)"/>
  <xacro:property name="my_kd" value="$(arg wheel_kd)"/>
  <xacro:property name="my_fdir1" value="0 1 0"/>  -->
<!-- fdir1 stets direction of the mu1 in reference to the collision frame. We are rotating around z axis so the movement is along y axis -->


    <!-- LEFT WHEEL LINK -->
    <joint name="left_wheel_joint" type="continuous">
        <parent link="chassis"/>
        <child link="left_wheel"/>
        <origin xyz="0 ${wheel_separation} 0" rpy="-${pi/2} 0 0"/>
        <axis xyz="0 0 1"/>
        <!-- <joint_properties damping="1000.0" friction="1000.0"/> -->
        <!-- <joint_properties damping="$(arg wheel_joint_dumping)" friction="$(arg wheel_joint_friction)"/> -->
    </joint>

    <link name="left_wheel">
        <visual>
          <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
              <mesh filename="${left_wheel_mesh_path}" scale="1 1 1"/> 
            </geometry>
            <material name="${wheel_material}"/>
        </visual>
    
        <collision name='left_wheel_collision'>
          <origin xyz="0 0 0.007" rpy="0 0 0"/>
          <geometry>
            <cylinder radius="${wheel_radius}" length="${wheel_width}"/>
          </geometry>
          <surface>
            <friction>
              <ode>
                <mu>(arg wheel_mu1)</mu>
                <mu2>(arg wheel_mu2)</mu2>
                <slip1>1.0</slip1>
                <slip2>1.0</slip2>
              </ode>
            </friction>
          </surface>
        </collision>

        <inertial>
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <mass value="0.32705622"/>
          <inertia ixx="$(arg wheels_ixx)" 
                   ixy="$(arg wheels_ixy)"
                   ixz="$(arg wheels_ixz)"
                   iyy="$(arg wheels_iyy)"
                   iyz="$(arg wheels_iyz)"
                   izz="$(arg wheels_izz)"/>
        </inertial>
    </link>

    <gazebo reference="left_wheel">
      <visual>inertia
          <material>
            <ambient>0.10 0.10 0.10</ambient>
            <diffuse>0.10 0.10 0.10</diffuse>
            <specular>0.40 0.40 0.40 1.00 5.00</specular>
            <emissive>0 0 0 1</emissive>
          </material>
      </visual>
      <!-- <mu1 value="${my_mu1}"/>
      <mu2 value="${my_mu2}"/>
      <kp  value="${my_kp}"/>
      <kd  value="${my_kd}"/> -->
      
      <mu1>$(arg wheel_mu1)</mu1>
      <mu2>$(arg wheel_mu2)</mu2>
      <kp>$(arg wheel_kp)</kp>
      <kd>$(arg wheel_kd)</kd>
      <slip1>1.0</slip1>
      <slip2>1.0</slip2>
      <fdir1 value="0 1 0"/>
      <!-- <gravity>true</gravity> -->
    </gazebo>

    <!-- LEFT TIRE LINK -->

    <joint name="left_tire_joint" type="fixed">
        <parent link="left_wheel"/>
        <child link="left_tire"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <link name="left_tire">
        <visual>
          <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
              <mesh filename="${left_tire_mesh_path}" scale="1 1 1"/>
            </geometry>
            <material name="${tire_material}"/>
        </visual>
    </link>

    <gazebo reference="left_tire">
      <visual>
          <material>
              <ambient>$(arg color_code_R) $(arg color_code_G) $(arg color_code_B) $(arg color_code_A)</ambient>
              <diffuse>$(arg color_code_R) $(arg color_code_G) $(arg color_code_B) $(arg color_code_A)</diffuse>
              <specular>$(arg color_code_R) $(arg color_code_G) $(arg color_code_B) $(arg color_code_A)</specular>
              <emissive>0 0 0 1</emissive>
          </material>
      </visual>
    </gazebo>

    <!-- RIGHT WHEEL LINK -->

    <joint name="right_wheel_joint" type="continuous">
      <parent link="chassis"/>
      <child link="right_wheel"/>
      <origin xyz="0 -${wheel_separation} 0" rpy="${pi/2} 0 0"/>
      <axis xyz="0 0 -1"/>
      <!-- <joint_properties damping="1000.0" friction="1000.0"/> -->
      <!-- <joint_properties damping="$(arg wheel_joint_dumping)" friction="$(arg wheel_joint_friction)"/> -->
    </joint>

    <link name="right_wheel">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
          <geometry>
            <mesh filename="${right_wheel_mesh_path}" scale="1 1 1"/>
          </geometry>
          <material name="${wheel_material}"/>
      </visual>

      <collision name='right_wheel_collision'>
        <origin xyz="0 0 0.007" rpy="0 0 0"/>
        <geometry>
          <cylinder radius="${wheel_radius}" length="${wheel_width}"/>
        </geometry>
        <surface>
          <friction>
            <ode>
              <mu>(arg wheel_mu1)</mu>
              <mu2>(arg wheel_mu2)</mu2>
              <slip1>1.0</slip1>
              <slip2>1.0</slip2>
            </ode>
          </friction>
        </surface>
      </collision>

      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.32705622"/>
        <inertia ixx="$(arg wheels_ixx)" 
                 ixy="$(arg wheels_ixy)"
                 ixz="$(arg wheels_ixz)"
                 iyy="$(arg wheels_iyy)"
                 iyz="$(arg wheels_iyz)"
                 izz="$(arg wheels_izz)"/>
      </inertial>
      
    </link>


    <gazebo reference="right_wheel">
      <visual>
          <material>
            <ambient>0.10 0.10 0.10</ambient>
            <diffuse>0.10 0.10 0.10</diffuse>
            <specular>0.40 0.40 0.40 1.00 5.00</specular>
            <emissive>0 0 0 1</emissive>
          </material>
      </visual>
      <!-- <mu1 value="${my_mu1}"/>
      <mu2 value="${my_mu2}"/>
      <kp  value="${my_kp}"/>
      <kd  value="${my_kd}"/>
       -->
      <mu1>$(arg wheel_mu1)</mu1>
      <mu2>$(arg wheel_mu2)</mu2>
      <kp>$(arg wheel_kp)</kp>
      <kd>$(arg wheel_kd)</kd>
      <slip1>1.0</slip1>
      <slip2>1.0</slip2>
      <fdir1 value="0 1 0"/>
      <!-- <gravity>true</gravity> -->
    </gazebo>

    <!-- RIGHT TIRE LINK -->

    <joint name="right_tire_joint" type="fixed">
        <parent link="right_wheel"/>
        <child link="right_tire"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <link name="right_tire">
        <visual>
          <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
              <mesh filename="${right_tire_mesh_path}" scale="1 1 1"/>
            </geometry>
            <material name="${tire_material}"/>
        </visual>
    </link>

    <gazebo reference="right_tire">
      <visual>
          <material>
              <ambient>$(arg color_code_R) $(arg color_code_G) $(arg color_code_B) $(arg color_code_A)</ambient>
              <diffuse>$(arg color_code_R) $(arg color_code_G) $(arg color_code_B) $(arg color_code_A)</diffuse>
              <specular>$(arg color_code_R) $(arg color_code_G) $(arg color_code_B) $(arg color_code_A)</specular>
              <emissive>0 0 0 1</emissive>
          </material>
      </visual>
    </gazebo>
</robot>